h1{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-color: deepskyblue;
}

img.pedro {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

p.left {
    text-align: left;
    font-size:15px;
}
